@{
    ViewData["Title"] = "Home Page";
}

<style>

</style>

<div>
	
	<h1 class="display-1 text-center">Deep Fried Oreo Shack</h1>
	<br />
	<h2 class="display-6 text-center">If it's edible, it's fryable</h2>

    <br />

    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Delivery</h2>
                <h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate 
                </h3>
            </div>
            <div class="col">
                <h2 class="text-center">Catering</h2>
                <h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate
                </h3>
            </div>
        </div>
    </div>
    <br /> 


    <p>
        <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            About us
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate.
        </div>
    </div>

</div>
